@use 'variables' as *;
@use 'mixins' as *;
.job-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: $white;
}

.logo{
  grid-column: 1;
  grid-row: 1/ span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  img, i{
    font-size: 2em;
    color: #666;
    background-color: $secondary-background;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
}
.company-info {
  grid-column: 2/ span 3;
  grid-row: 1;
  display: flex;
  gap: 3rem;
  align-items: center;
}


.company-name {
  font-weight: bold;
}

.location {
  color: #666;
}

.job-title {
  grid-column: 1/ span 2;
  grid-row: 2;
  .job{
    font-size: 16px;
    font-weight: 600;
    color: $font-color;
  }
}

.job-type {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  color: #666;
}

.button {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.white-button{
  background-color: $white;
  color: $primary-color;
  border: 1px solid $primary-color;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.white-button:hover{
  border: 1px solid $primary-color;
  color: $primary-color;
  background-color: $secondary-background;
}
.job-experience{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background;
  color: $primary-color;
  padding: 2px 5px;
  width: fit-content;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
}
.button:hover {
  background-color:$primary-hover-background;

}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: $primary-color;
  color: white;
}

.pagination button:hover:not(:disabled) {
  background-color: $primary-hover-background;
  color: white;
}
.title{
  font-weight: 700;
  color: $font-color;
  margin: 0  auto;
}
.form-container {
  @include centered-container;
  height: auto;
  padding: 2rem;
  display: relative;
}
.error-message {
  color: red;
  font-size: 10px;
  background-color: #ffe4e4;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  animation: slideDown 0.5s ease;
}
.success-message{
  color: green;
  font-size: 10px;
  background-color: #e4f9e4;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
  animation: slideDown 0.5s ease;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border-radius: 8px;
  background: $white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
  box-sizing: border-box
}

input {
  @include text-box(10px, 2px, #E4E5E8, 5px, #fff, #333, auto, 14px, $primary-color, $shadow-color);
}
.form-row{
  display: flex;
  gap: 10px;
}
@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
  .form-container{
    padding: 1rem;
    height: auto;
  }
}

textarea {
  @include text-box(10px, 2px, #ccc, 5px, #fff, #333, auto, 16px, $primary-color, $shadow-color);
  height: 100px;
}

.text-container{
  padding: 10px 15px;

}

.job-header
  { 
    display: flex;
    align-items: center;
    margin: 2rem 0;
    img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    }

    .job-title{
      h1{
        font-size: 14px;
        font-weight: 700;
        color: $primary-color;
      }
      .short-description{
        display: flex;
        gap: 10px;
        font-size: 12px;
        color: $font-color-light;
        align-items: center;
      }
      .job-type,i{
        background-color:$primary-color;
        color: #ffffff;
        padding: 2px 5px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 700;
      }
      .job-head{
        display: flex;
        gap: 10px;
        align-items: center;
      }
      .co-name{
        font-size: 12px;
        color: $primary-color;
      }
    }

  }
.job-contents{

  h1{
    font-size: 14px;
    font-weight: 700;
    color: $primary-color;
  }
  h2{
    font-size: 14px;
    font-weight: 700;
    color: $primary-color;
  }
}
.job-lists {
  position: absolute;
  color: #fff;
  background-color: $primary-color;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 8px;
  font-weight: 700;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  span, i{
    color: #fff;
    ;

  }
  top: 1rem;
  left: 1rem;
}

.job-list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 16px;
  .filter-container{
    grid-row:1 /span 2;
    grid-column: 1;
    background-color: $secondary-background;
    padding:2rem 1rem;
    height: fit-content;
    width: 300px;
    margin-right: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2{
      font-weight: 600;
      text-align: left;
      width: 100%
    }
    section{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      label{
        font-size: 16px;
        font-weight: 600;
        color: $font-color;
      }
      select{
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        background-color: $white;
      }
    }
  }
  .search-container{
    grid-row: 1;
    grid-column: 2/ span 3;
    margin: 0 auto;
    position: relative;
    height: fit-content;

    input{
      width: 400px;
      padding: 10px 30px;
    }
    i{
      position: absolute;
      left: 10px;
      top: 55%;
      transform: translateY(-50%);
      color: $primary-color;
    }
  }
  .grid-container{
    grid-row: 2;
    grid-column: 2/ span 3;
  }
  .pagination{
    grid-row: 3;
    grid-column: 2/ span 3;
  }
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background: linear-gradient(110deg, #103554 10%, $primary-color 100%);
  padding: 5px 10px;
  .links{
    display: flex;
    gap: 3rem;
    a{
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      font-weight: 600;
    }
    a:hover{
      color: $secondary-background;
    }
  }
}
.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 20px;
  h1{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }
}

.hero-section{
  background: linear-gradient(110deg, #103554 10%, $primary-color 100%);
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .contents{

      h1{
        color: #fff;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
      }
      h2{
        background: linear-gradient(110deg, #c1e3ff 10%, #db6013 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.5rem;
        font-weight: 600;
      }
      .animated-button {
        border: 2px solid #fff;
        padding: 10px 20px;
        border-radius: 20px;
        position: relative;
        color: #fff;
        z-index: 1;
        text-decoration: none;
      }
      .animated-button::before{
        content: '';
        width: 0%;
        height: 100%;
        position: absolute;
        background: linear-gradient(110deg, #c1e3ff 10%, $primary-color);
        border-radius: 20px;
        top: 0;
        left: 0;
        z-index: -1; // Keeps it behind
        transition: 0.5s;
      }
      .animated-button:hover::before{
        width: 100%;
      }
      p{
        color: #fff;
        font-size: 1.5rem;
        font-weight: 300;
      }
      h1 span{
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px #ffff;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif;
      }
      color: white;
    }
    .image{
      img{
        width: 500px;
        height: 700px;
        object-fit: cover;
      }
    }
}