@use 'variables' as *;
@use 'mixins' as *;
.job-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 16px;
  border: 1px solid #dfdfdf;
  border-radius: 8px;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: $white;
}

.logo{
  grid-column: 1;
  grid-row: 1/ span 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  i{
    font-size: 2em;
    color: #666;
    background-color: $secondary-background;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
}
.company-info {
  grid-column: 2/ span 3;
  grid-row: 1;
  display: flex;
  gap: 3rem;
  align-items: center;
}


.company-name {
  font-weight: bold;
}

.location {
  color: #666;
}

.job-title {
  grid-column: 1/ span 2;
  grid-row: 2;
  .job{
    font-size: 16px;
    font-weight: 600;
    color: $font-color;
  }
}

.job-type {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  color: #666;
}

.button {
  grid-column: 3;
  grid-row: 2;
  align-self: center;
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
}
.job-experience{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-background;
  color: $primary-color;
  padding: 2px 5px;
  width: fit-content;
  font-size: 12px;
  border-radius: 5px;
  font-weight: 700;
}
.button:hover {
  background-color:$primary-hover-background;

}

