$primary-background: #F5F5F5;
$primary-border: 1px solid #E2E3E8;
$primary-color: #306496;
$primary-hover-background: #234768;
$primary-hover-border: 1px solid #234768;
$secondary-background: #EBEDF5;
$white: #fff;
$font-color: #363c44;
$font-color-light: #666;
