$primary-background: #a4d2dd;
$primary-border: 1px solid #97a32b;
$primary-color: #00728f;
$primary-hover-background: #0056b3;
$primary-hover-border: 1px solid #0056b3;
$primary-hover-color: #fff;

$secondary-background: #f2f2f2;
$secondary-border: 1px solid #ccc;
$secondary-color: #333;
$secondary-hover-background: #e6e6e6;
$secondary-hover-border: 1px solid #ccc;
$secondary-hover-color: #333;
